<!DOCTYPE html>
<html lang="en">
<head>
  <title>Курс КОСНИ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/column.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Курс КОСНІ</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">Головна</a></li>
      <li class="active"><a href="contact.html">Контакти</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3>Контакти</h3>
  <p> <span class="glyphicon glyphicon-user"> Терещенко Дарія Олександрівна</span></p> 
  <p> <span class="glyphicon glyphicon-phone"> 098-76-54-567</span></p> 
  <p> <span class="glyphicon glyphicon-home"> м.Дергачи, в-д Комінтерна, буд. 7</span></p>    
  <p> <span class="glyphicon glyphicon-education"> ХНПУ ім. Г.С. Сковороди </span></p>    
  
  <ul class="pager">
    <li><a href="index.html">Попередня сторінка</a></li>
    
  </ul>
  
</div>

</body>
</html>