<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta charset=utf-8">
	<link rel="stylesheet" href="../static/bootstrap-3.3.6-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/my_css.css">
	<script src="../static/bootstrap-3.3.6-dist/js/jquery.min.js"></script>
	<script src="../static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<title>Main</title>
	<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>

	
	
<nav class="navbar navbar-default" style='margin:0'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <span class="glyphicon glyphicon-book"></span> KOSNI  </a>
    </div>
    <ul class="nav navbar-nav">
     <li class="active"><a href="#"> <span class="glyphicon glyphicon-home"></span> Main </a></li>
		  <li><a href="portfolio.html"><span class="glyphicon glyphicon-briefcase"></span> Portfolio  </a></li>
		  <li><a href="contakts.html">  <span class="glyphicon glyphicon-phone-alt"></span> Contacts</a></li>
    </ul>
  </div>
</nav>
	 <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>KOSNI  2015-2016</h1>
            <h3>Комп'ютерно-орієнтовані системи навчання інформатики</h3>
            <br>
        </div>
    </header>
	

	

	<section id="portfolio" class="portfolio" style='padding-top:0'>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Our Work</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-1.jpg" style='margin:15px'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-2.jpg"style='margin:15px'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-3.jpg"style='margin:15px'>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="#">
                                    <img class="img-portfolio img-responsive" src="img/portfolio-4.jpg"style='margin:15px'>
                                </a>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
	
	<!-- About -->
    <section id="about" class="about" style='background-color:#1E90FF'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

	
		<div class="col-12">
	<div class="panel panel-default" style='position: relative; margin:0;text-align:center;'><div class="panel-footer">KOSNI. Yiliia Pilgui 2016</div></div>
	</div>
</body>
</html>