<!DOCTYPE html>
<html lang="en">
<head>
  <title>Курс КОСНИ</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/column.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Курс КОСНІ</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Головна</a></li>
      <li><a href="contact.html">Контакти</a></li>

    </ul>
  </div>
</nav>
  
<div class="container">
   <div class="panel panel-default">
	
	<img src="d:/user/4ИА/Create site/static/images/111.jpg" alt="kosni" width="1138">
	
    <div class="panel-body">

		  <h3 style="text-align:center">Курс Комп'ютерно-орієнтовних систем навчання інформатики та англійської мови</h3>
		  <p style="font-size:16px">Метою курсу комп'ютерно-орієнтовних систем навчання інформатики та англійської мови є здобуття теоретичних знань, формування практичних навичок та умінь викорстання сучасних 
		  комп'ютерних технологій, а також Інтренет-ресурсів для навчання інформатики та англійської мови</p>
		  <ul> В рамках курсу використовувались такі сервіси:
			<li> Coursera.org</li>
			<li> Udacity.com</li> 
			<li> Bootstrap.com</li> 
			<li> Prometeus.org.ua</li>
			<li> Codinggame.com</li>  	
		  </ul>
		  
		  <ul class="pager">
			<li><a href="contact.html">Наступна сторінка</a></li>
		  </ul>
  </div>
			<div class="row">
			<div class="col-sm-4">
			  <h3 style="text-align:center">Coursera.org</h3>
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
			  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			  <img src="d:/user/4ИА/Create site/static/images/coursera_logo.jpg" alt="kosni" width="300">
			</div>
			<div class="col-sm-4">
			  <h3 style="text-align:center">Prometeus.org.ua</h3>
			  <img src="d:/user/4ИА/Create site/static/images/prometheus.png" alt="kosni" width="300">
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
			  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			</div>
			<div class="col-sm-4">
			  <h3 style="text-align:center">Codinggame.com</h3>        
			  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
			  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
			</div>
		  </div>
      <div class="panel-footer" style="text-align:center"> 
		м.Харків, фізико-математичний факультет
	  </div>
	</div>  
</div>

</body>
</html>